body{
  margin:0;
  font-family: 'SourceSansProLight', sans-serif;
}
@font-face {
  font-family:"Alasti-Regular";
  src:url('../fonts/Alasti-Regular.ttf') format('truetype');
}
@font-face {
  font-family:"SourceSansProLight";
  src: url("../fonts/SourceSansPro-Light.ttf") format('truetype');
}

header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  margin:0;
}

.logo{
  width:150px;
  height:150px;
  border:1px solid white;
}

/*Navigation Bar Styling*/

nav{
  height:150px;
  width: 80%;
}
.navigation{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:0;
  margin-right:40px;
  height: 150px;
}

.navigation a{
  line-height: 200px;
  text-decoration: none;
  color:white;
  font-family:"SourceSansProLight", sans-serif;
  font-weight: bold;
  font-size:20px;
  text-transform: uppercase;
  margin:auto 0;
  letter-spacing: 0.2em;
}
nav ul li{
    margin: 0px 10px;
}

/*Text Styling*/
h1{

}
.sign-up{
  text-align: center;
}
h2{
  font-weight: bold;
  font-size: 30px;
}
.basics{
  text-align: center;

}

h3{

}

p{

}

/*Homepage Styling - Jonna*/
#placeholder{
  width: 100%;
}

.description{
  display: flex;
  flex-direction: row;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#abouttheclub, #wherewhen{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#abouttheclub{
  margin-right: 10px;
}

#wherewhen{
  margin-left: 10px;
}

.hidden{
  display: none;
}

/*Jiu Jitsu Basics Styling*/
.info{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


/*Calendar Styling - Asher*/
.calendar{
  height:600px;
  width:80%;
  margin:10px auto;
  display:flex;
  flex-direction: column;
}
.calendar_days{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.calendar_days *{
  border: 1px solid black;
  width: 14%;
  padding:1px;
  height:20%;
}
/* Signups Styling - Ava*/

form{
  text-align: center;
}

.align{
  display: inline-block;
  text-align: right;
}

/*Footer Styling*/
.footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer p{
  font-size: 12px;
}
